.dashboard {
    .area {
        p {
            color: #666;
            line-height: 30px;
        }
    }

    .icon {
        color: #7da1f7;
        font-size: 50px;
    }

    .wrap {
        text-align: center;
    }
}